.header {
    background-color: #5F6F52;
    color: #FEFAE0;
    padding: 0.5rem; /* Reducir el tamaño del padding del header */
    display: flex;
    align-items: center;
    height: 100px; /* Asegurar que el header tenga una altura fija */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 100%; /* Asegurar que el logo ocupe toda la altura del header */
    max-height: 40px; /* Limitar la altura máxima del logo */
    margin-left: 1rem; /* Añadir margen a la izquierda del logo */
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 3rem; /* Añadir más espacio entre los elementos del menú */
    margin-right: 5rem; /* Añadir margen a la derecha del menú */
}

.header li {
    display: inline;
}

.header a {
    color: #FEFAE0;
    text-decoration: none;
    font-size: 1.2rem; /* Aumentar el tamaño de la fuente de los enlaces */
}





